<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teemo.keepalive">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":RemoteProcess" />
    </application>


</manifest>